# Ignore the local virtual environment
venv/
.env

# Ignore git history
.git/
.gitignore

# Ignore python cache files
__pycache__/
*.pyc

# Ignore the data folder
data/

# Ignore Jupyter notebooks
notebooks/
.ipynb_checkpoints/