# Ignore the local virtual environment
venv/
.env

# Ignore git history
.git/
.gitignore

# Ignore python cache files
__pycache__/
*.pyc

# Ignore the data folder
data/
*.csv
*.gz


# Ignore Jupyter notebooks
notebooks/
.ipynb_checkpoints/


# macOS noise
.DS_Store

# .dockerignore
data/
results/*.parquet
models/*.joblib
